# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.swp
*.DS_Store
.vs/
TestResults/
*.log
*.tlog
*.ide
*.dbmdl
*.bak
*.backup
*.publish.xml
*.pdb
*.cache
*.ncrunch*
_ReSharper*/
*.resharper
*.DotSettings.user
*.dotCover
*.orig
*.sdf
*.VC.db
*.vscode/
